.headerWrapper {
  display: flex;
  background-color: rgb(243, 245, 248);
  height: 50px;
  align-items: center;
  flex: 0 0 auto;
}

.headerCell {
  flex-grow: 1;
  width: 16.67%;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.headerCell:first-child {
  padding-left: 10px;
}
