.mainWrapper {
  padding: 10px 50px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.noData {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-grow: 1;
}
